{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
    <br>
    <br>
    <h1 class="mb-2">{{ object.name }}</h1>



    <div class="row2">
        <div class="column2">
            {% for indicator, value in object.indicators.items %}
                {% if indicator == "User Tailored Score" %}
                    {% if value > 0 %}
                        <div class="progress-circle" data-progress= "{{ value| mul:10 | intdiv:1 }}" ></div>
                        <h2>User Tailored Score</h2>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="column2">
            {% for indicator, value in object.indicators.items %}
                {% if indicator == "General Score" %}
                    {% if value > 0 %}
                    <div class="progress-circle" align="center" data-progress= "{{ value| mul:10 | intdiv:1 }}" ></div>
                    <h2 class="text" align="center"> The General Score</h2>
                    {% else %}
                        <br>
                        <br>
                        <h2 class="text" align="center"> No data known</h2>
                     {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="column2">
            {% for indicator, value in object.indicators.items %}
                {% if indicator == "Total country score" %}
                    {% if value > 0 %}
                        <div class="progress-circle" data-progress= "{{ value| mul:10 | intdiv:1 }}" ></div>
                        <h2 class="text">Total country Score</h2>


                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}

